.message {
    text-align: center;
    padding-bottom: 400px;
    font-size: 30px;
    background-color: #e3f2fd;
}

.link {
    text-decoration: none;
    color: teal;
}

.link:hover {
    text-decoration: none;
    color: red;
    font-style: italic;
}