.form-group {
    width: 25%;
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
  }
  
.login-form {
    text-align: center;
    padding-bottom: 75px;
  }
  
.row-login {
    padding: 20px 0px 200px 0px;
    background-color: #e3f2fd;
}